version: 2.1
jobs:
  build:
    docker:
      - image: cimg/openjdk:25.0  # Convenience image with Java
    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run: ./mvnw clean deploy -Ppackagecloud -s .circleci/settings.xml  # Or your build/test command
workflows:
  main:
    jobs:
      - build
